<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arsc.traceGuard.feature.mapper.TgProductMapper">
    
    <resultMap type="TgProduct" id="TgProductResult">
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="instruction"    column="instruction"    />
        <result property="reportImg"    column="report_img"    />
        <result property="companyInfo"    column="company_info"    />
        <result property="contactUs"    column="contact_us"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTgProductVo">
        select product_id, product_name, instruction, report_img, company_info, contact_us, status, del_flag, create_by, create_time, update_by, update_time, remark from tg_product
    </sql>

    <select id="selectTgProductList" parameterType="TgProduct" resultMap="TgProductResult">
        <include refid="selectTgProductVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTgProductByProductId" parameterType="Long" resultMap="TgProductResult">
        <include refid="selectTgProductVo"/>
        where product_id = #{productId}
    </select>

    <insert id="insertTgProduct" parameterType="TgProduct" useGeneratedKeys="true" keyProperty="productId">
        insert into tg_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="instruction != null">instruction,</if>
            <if test="reportImg != null">report_img,</if>
            <if test="companyInfo != null">company_info,</if>
            <if test="contactUs != null">contact_us,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="instruction != null">#{instruction},</if>
            <if test="reportImg != null">#{reportImg},</if>
            <if test="companyInfo != null">#{companyInfo},</if>
            <if test="contactUs != null">#{contactUs},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTgProduct" parameterType="TgProduct">
        update tg_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="instruction != null">instruction = #{instruction},</if>
            <if test="reportImg != null">report_img = #{reportImg},</if>
            <if test="companyInfo != null">company_info = #{companyInfo},</if>
            <if test="contactUs != null">contact_us = #{contactUs},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteTgProductByProductId" parameterType="Long">
        delete from tg_product where product_id = #{productId}
    </delete>

    <delete id="deleteTgProductByProductIds" parameterType="String">
        delete from tg_product where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
</mapper>